.calculator {
    width: 100%;
    min-height: 796px;
    background-image: url(/img/calculator/calculator_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.calculator .container {
    background-image: url(/img/calculator/calculator_bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13px;
    padding-bottom: 110px;
    border-radius: 10px;
}
.calculator_more{
    color: #000;
    width: 211px;
}
.calculator_more_caption {
    font-size: 18px;
    border-bottom: 1px solid #000;
    text-align: center;
}
.calculator_more_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.calculator_more_list span {
    display: inline-block;
}

.calculator_input input {
    font-size: 18px;
    color: #232323;
    height: 27px;
    border-width: 1px;
    border-color: rgb(38, 37, 34);
    border-style: solid;
    border-radius: 3px;
    background: unset;
    transition: 0.5s;
    max-width: 130px;
}
.calculator_input input::placeholder {
    font-size: 18px;
    color: #232323;
    transition: 0.5s;
}
.calculator_input input:focus {
    -webkit-box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    -moz-box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    transition: 0.5s;
}
.calculator_input_cal {
    display: flex;
    max-width: 245px;
}
.calculator_input_cal input {
    max-width: 123px;
    font-size: 18px;
    height: 27px;
    color: #232323;
    border-width: 1px;
    border-color: rgb(38, 37, 34);
    border-style: solid;
    border-radius: 3px;
    background: unset;
    transition: 0.5s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.calculator_input_cal input::placeholder {
    font-size: 18px;
    color: #232323;
    transition: 0.5s;
}
.calculator_input_cal input:focus {
    -webkit-box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    -moz-box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    transition: 0.5s;
}
.calculator_input_cal select {
    font-size: 18px;
    color: #232323;
    border-width: 1px;
    border-color: rgb(38, 37, 34);
    border-style: solid;
    border-radius: 3px;
    background: unset;
    height: 27px;
    transition: 0.5s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.calculator_input_cal select:focus {
    -webkit-box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    -moz-box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    box-shadow: 0px 0px 3px 5px rgba(23,181,201,1);
    transition: 0.5s;
}
.calculator_input_submit {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(33, 182, 67);
    min-width: 109px;
    min-height: 27px;
    font-size: 20px;
    color: rgb(252, 246, 232);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.calculator_input_submit:hover {
    background-color: rgb(30, 161, 60);
    transition: 0.3s;
}
/* Результат */
.calculator_result {
    width: 100%;
    margin-top: 19px;
    padding-top: 9px;
    border-top: 1px solid #000;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding-left: 12px;
    padding-right: 12px;
}
@media (max-width:992px) {
    .calculator_input input {
        max-width: 150px;
        width: 100%;
    }
    .calculator_input_cal {
        max-width: 300px;
        width: 100%;
        margin-bottom: 10px;
    }
    .calculator_input_cal input {
        max-width: 150px;
    }
    .calculator_input_cal select {
        max-width: 150px;
        width: 100%;
    }
}