.registration_form {
    max-width: 490px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    border-width: 5px;
    border-color: rgba(0, 123, 255,0.588);
    border-style: solid;
    border-radius: 10px;
}
.registration_form_head {
    background-color: #103643;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration_form_head_logo {
    color: #fff;
    max-width: 125px;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    padding-top: 28px;
}
.registration_form_head_logo:hover {
    text-decoration: none;
    color: #fff;
}
.registration_form_head_logo span {
    margin-top: -15px;
    display: inline-block;
}
.registration_form_head_logo span:nth-child(2) {
    margin-left: 41px;
    margin-top: -23px;
}
.registration_form_head_logo img {
    position: absolute;
    top: 0;
    left: 0;
}
.registration_form_open {
    color: #0E0E0E;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    line-height: 1;
    margin-bottom: 20px;
}
.registration_form_input_capto {
    color: #0E0E0E;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 5px;
}
.registration_form_input {
    background-color: #FCF7EC;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    height: 39px;
}
.registration_form_submit {
    color: #fff;
    border-radius: 10px;
    background-color: #00BCFF;
    width: 214px;
    height: 41px;
    border: none;
    transition: 0.3s;
    outline: none;
}
.registration_form_submit:hover {
    background-color: #00D7FF;
    transition: 0.3s;
}
.registration_form_wrap  {
    max-width: 214px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}
.registration_form_wrap .registration_form_input:nth-child(6) {
    margin-bottom: 0;
}
.registration_form_checkbox_wrap {
    margin-bottom: 30px;
}
.registration_form_checkbox_wrap *{
    cursor: pointer;
}
.registration_form_checkbox_wrap label {
    margin-left: 5px;
}
.registration_form_input_password {
    position: relative;
}
.registration_form_input_password_eye {
    background-image: url(/img/authorization/eye_open.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    position: absolute;
    right: 11px;
    top: 39px;
    cursor: pointer;
}
.registration_form_input_password_eye-close {
    background-image: url(/img/authorization/eye_close.png);
}
.registration_form_input_password .registration_form_input {
    margin-bottom: 15px;
}
.registration_form_error {
    display: none;
}

.registration_form_registr {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
    width: calc(245px + 30px);
    text-align: center;
    margin-left: -28px;
}
.registration_form_registr a {
    color: #007bff;
    font-weight: 700;
    transition: 0.3s;
}
.registration_form_registr a:hover {
    text-decoration: none;
    color: rgb(64, 181, 88);
    transition: 0.3s;
}
.registration_error {
    font-size: 14px;
    color: #f23636;
    border-radius: 5px;
    background-color: rgba(242, 54, 54, 0.549);
    left: 405px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    text-align: center;
}
.registration_error span {
    padding: 5px;
}